body {
  /* This makes the whole window draggable like a normal app */
  -webkit-app-region: drag;
  margin: 0;
  overflow: hidden;
  background-color: #14141e;
}


canvas,
button,
.ui-elements {
  /* IMPORTANT: You must disable dragging on interactive elements 
     or you won't be able to click them! */
  -webkit-app-region: no-drag;
}